<h1>專案管理</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= button_to "顯示專案", task, method: :get , class:"btn btn-outline-primary" %>
    </p>
  <% end %>
</div>
<%= button_to "新專案", new_task_path(:user), method: :get , class:"btn btn-outline-success" %>
